
bin/
obj/

.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.dbmdl
*.jfm
riderModule.iml
/_ReSharper.Caches/
.vscode/

/packages/

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

logs/
*.log

wwwroot/uploads/

# 忽略配置文件中可能包含敏感信息的文件
# appsettings.*.json

[Pp]ublish/
[Pp]ublished/

.idea/

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


.env

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

*.psess
*.vsp
*.vspx
*.sap

TestResults/